<form class='form-group change-password border rounded'>
  <fieldset>
    <legend>Change Password</legend>
    <div class="form-row">
      <div class="col">
        <input type="password" name="passwords[old]" placeholder="Current password" class="form-control">
      </div>
      <div class="col">
        <input type="password" name="passwords[new]" placeholder ="New password" class="form-control">
      </div>
      <div class="col">
        <input type='submit' value='Change Password' class="btn btn-warning">
      </div>
    </div>
  </fieldset>
</form>
