<form class='change-password' class = 'border'>
  <fieldset>
    <legend>Change Password</legend>
    <input type="password" name="passwords[old]" placeholder="Current password">
    <input type="password" name="passwords[new]" placeholder ="New password">
    <input type='submit' value='Change Password'>
  </fieldset>
</form>
