<div class="overflow-auto chatbox border rounded">

</div>
<form>
  <div class="form-group">
    <label for="chat-message">Type your message</label>
    <textarea class="form-control" id="chat-message" rows="3" placeholder="BLAHH BLAH BLAH BLAH BLAH"></textarea>
    <input type="submit" value="Submit" class="submit btn btn-primary">
  </div>
</form>
