<div class="overflow-auto chatbox" id='chatbox'>

</div>
<form class="post-message">
  <div class="form-group">
    <label for="chat-message">Type your message</label>
    <textarea name="message[text]" class="form-control" id="chat-message" rows="3" placeholder="BLAHH BLAH BLAH BLAH BLAH"></textarea>
    <input type="submit" value="Submit" class="submit btn btn-primary">
  </div>
</form>
