<div class="overflow-auto chatbox" id='chatbox'>

</div>
<div class="container user-message-box">
  <form class="post-message">
    <label for="chat-message">Type your message</label>
    <div class="input-group">
      <textarea name="message[text]" class="form-control" id="chat-message" rows="3" placeholder="BLAHH BLAH BLAH BLAH BLAH"></textarea>
      <input type="submit" value="Submit" class="submit btn btn-primary">
    </div>
  </form>
</div>
