<button class="navbar-toggler btn-block bg-light border rounded" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse justify-content-start" id="collapsingNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link">
        <form class="show-chat">
          <input type='submit' class="btn btn-block btn-info navShowButton" value='Show Chat'>
        </form>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <form class="show-change-password">
          <input type='submit' class="btn btn-block btn-warning" value='Change Password'>
        </form>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <form class="sign-out">
          <input type='submit' class="btn btn-block btn-danger sign-out-danger" value='Sign out'>
        </form>
      </a>
    </li>
  </ul>
</div>
