<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <form class="show-chat form-group">
        <fieldset>
          <input type='submit' class="btn btn-block btn-info" value='Show Chat'>
        </fieldset>
      </form>
    </div>
    <div class="col-sm-12 col-md-4">
      <form class="show-change-password form-group">
        <fieldset>
          <input type='submit' class="btn btn-block btn-warning" value='Change Password'>
        </fieldset>
      </form>
    </div>
    <div class="col-sm-12 col-md-4">
      <form class="sign-out">
        <fieldset>
          <input type='submit' class="btn btn-block btn-danger" value='Sign out'>
        </fieldset>
      </form>
    </div>
  </div>
</div>
