<form class="show-chat border">
  <fieldset>
    <input type='submit' value='Show Chat'>
  </fieldset>
</form>

<form class="show-change-password border">
  <fieldset>
    <input type='submit' value='Change Password'>
  </fieldset>
</form>

<form class="sign-out">
  <fieldset>
    <input type='submit' value='Sign out'>
  </fieldset>
</form>
