<div class="text-center text-light">(do not use real password and email, this is NOT secure!!!)</div>
<br>
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-4">
    <form class='sign-up form-group rounded'>
      <fieldset>
        <legend class="text-center">Sign up</legend>
        <input type="text" class="form-control" name="credentials[email]" placeholder="Email">
        <input type="password" class="form-control" name="credentials[password]" placeholder="Password">
        <input type="password" class="form-control" name="credentials[password_confirmation]" placeholder = "Confirm Password">
        <input type="submit" class="btn btn-block btn-primary" value ="Sign up">
      </fieldset>
    </form>
  </div>
  <div class="col-sm-12 col-md-4">
    <form class='sign-in form-group rounded'>
      <fieldset>
        <legend class="text-center">Sign in</legend>
        <input type="text" class="form-control" name="credentials[email]" placeholder="Email">
        <input type="password" class="form-control" name="credentials[password]" placeholder="Password">
        <input type="submit" class="btn btn-block btn-success" value ="Sign in">
      </fieldset>
    </form>
  </div>
</div>
