@import '~bootstrap/scss/bootstrap';
$lightblue: #91c2d9;
$offwhite: 	#fdfaf8;
$bg-color: $lightblue;


* {
  padding: 5px 10px;
}

ul {
  width: 100%;
}

.card-header {
  display: flex;
}

.chatbox {
  height: 50vh;
  margin: 5px 0px;
  padding: 5px;
  width: 90vw;
}
