@import '~bootstrap/scss/bootstrap';
$darkblue: #326983;
$eggplant: 	#324183;
$teal: #328375;
$lightblue: #91c2d9;
$offwhite: 	#fdfaf8;
$bg-color: $darkblue;
$message-bg: $eggplant;
$update-color: #ffd966;
$update-outline: #ffc619;
$delete-color: #ff6675;
$danger-outline: #ff1930;

h1 {
  color: white;
}

html {
  bottom: 5px;
  margin: 0;
  padding: 5px 10px;
}

legend {
  margin: 0;
}

nav {
  display: flex;
  margin-left: 2vw;
  width: 100%;
}

.btn:hover {
  color: black;
}

.btn-outline-danger, .btn-outline-warning {
  border: solid 2px;
  font-weight: 700;
}

.btn-outline-danger {
  background-color: rgba(128, 32, 41, .5);
  border-color: $danger-outline;
  color: $delete-color;
}

.btn-warning {
  background: #ccad52;
  border-color: #cc9e14;
  color: white;
}

.btn-outline-warning {
  background-color: rgba(128, 104, 32, .35);
  border-color: $update-outline;
  color: $update-color;
}

.card-header {
  padding: 0;
}

.card-body,
.card-text {
  padding: 2px 5px;
}

.change-password {
  background: $message-bg;
  color: white;
  margin: 5px 2px;
  padding: 10px 5px;
}

.chatbox {
  background: $message-bg;
  box-shadow: -2px 3px 10px 2px darkslategrey;
  height: 60vh;
  padding: 2px;
}

.date {
  text-align: right;
}

.navShowButton {
  background: #5cabb8;
}

.row {
  margin: 0;
  padding: 0;
}

.sign-in,
.sign-up {
  background: $message-bg;
  box-shadow: -2px 3px 10px 2px darkslategrey;
  color: white;
}

.sign-out-danger {
  background: #db5865;
}

.status-message {
  color: white;
  justify-content: center;
  margin-bottom: 10px;
}

.theme {
  background: $bg-color;
}

.user-message-box {
  bottom: 0;
  color: white;
  height: 10vh;
  justify-content: center;
  margin-left: -1.5vw;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}

.usernames {
  background-color: rgba(255, 255, 255, .10);
  box-shadow: 1px 2px 10px 2px darkslategrey;
  height: 60vh;
  padding: 2px 10px;
}

.username-div {
  border-bottom: solid 1.5px silver;
  color: white;
  padding: 5px;
  text-align: center;
}

@media (max-width: 756px) {
  .date {
    text-align: justify;
  }
  .username-div {
    display: none;
  }
}
